@font-face {
   font-family: 'Nougat-ExtraBlack';
   font-display: swap;
   src: url('file:///C:/Users/Usuarior/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-06_161251/fonts/Nougat-ExtraBlack/font.ttf');
}
